/* Aqui se refere a mudança de imóvel */

.carousel_container {
    height: 100%;
    width: 100%;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    padding-top: 0%;
    padding-left: 0%;
    padding-bottom: 0%;
}

.carousel-container img {
    border-radius: 22px;
    height: 400px;
    width: 600px;
}

.imovel {
    padding-left: 0%!important;
    width: 100%;
    display: "absolute"
}

.grid_infos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
    height: 70%;
    width: 100%;
    /* padding-top: 6%; */
    padding-bottom: 4%;
}

.grid_infos img {
    border-radius: 20px;
    height: auto;
    width: 100%;
    height: 50%;
}


.fotos_imovel {
    display: flex;
    width: 100%;
    height: auto;
    text-align: center;
    align-content: center;
}

.fotos_imovel img {
    border-radius: 20px;
    height: 366px;
    width: 550px;
}


.botao_voltar_imovel,
.botao_passar_imovel {
    align-self:last baseline;
    height: 60px;
    width: 60px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.botao_voltar_imovel img {
    transform: scaleX(-1);
    height: 80px;
    width: 80px;
    opacity: 0.6;
}

.botao_passar_imovel img {
    height: 80px;
    width: 80px;
    opacity: 0.6;
}

.botao_voltar_imovel {
    justify-content: left;
}

.botao_passar_imovel {
    justify-content: right;
}

/* Apartir daqui se refere a mudança de imagem */

.teste {
    display: absolute;
    text-align: center;
    align-content: center;
}

.botao_voltar_foto {
    justify-content: left;
    border: none;
    cursor: pointer;
    align-items: left;
    background-color: transparent;
}

.botao_passar_foto {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.botao_voltar_foto img {
    transform: scaleX(-1);
    height: 60px;
    width: 60px;
    opacity: 0.6;
}

.botao_passar_foto img {
    height: 60px;
    width: 60px;
    opacity: 0.6;
}

.botao_voltar_foto {
    margin-right: -60px;
}

.botao_passar_foto {
    margin-left: -60px;
}

/* Referente aos textos */

.title h2 {
    font-family: Libre Baskerville;
    text-align: left;
    font-size: 40px;
    margin-left: 0px;
    color: #045570;
    z-index: 3;
    /* margin-top: 5%; */
    /* margin-bottom: -6%; */
}

.descricao_imovel {
    width: 650px;
    overflow-y: auto;
}

.descricao_imovel p {
    font-family: Inter;
    text-align: justify;
    text-justify: auto;
    font-size: 22px;
    color: #045570;
    z-index: 3;
    padding-right: 5%;
    padding-left: 5%;
    font-weight: initial;
}

.descricao_imovel ul {
    padding: 5%;
    font-family: Inter;
    text-align: left;
    font-size: 20px;
    color: #045570;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1%;
    z-index: 3;
    line-height: 1.5;
    font-weight: initial;
}

.descricao_imovel li {
    margin-top: 10px;
}

.descricao_imovel p1 {
    font-family: Inter;
    text-align: left;
    font-size: 20px;
    z-index: 3;
    color: #045570;
    font-weight: initial;
}

@media screen and (max-width: 920px) {
    .carousel_container {   
        width: 90%;
    }
    .grid_infos {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: repeat(2, 1fr);
        gap:5%
    }
    .fotos_imovel {
        justify-content: center;
    }
    .botao_voltar_imovel {
        margin-left: -1%;
    }
    /* Referente aos textos */

    .title h2 {
        text-align: center;
        font-size: 30px;
    }
    .descricao_imovel {
        height: 130%;
    }

    .descricao_imovel p {
        font-size: 22px;
    }

    .descricao_imovel ul {
        font-size: 20px;      
    }

    .descricao_imovel li {
        margin-top: 10px;
    }

    .descricao_imovel p1 {
        font-size: 14px;
    }
}

@media screen and (max-width: 560px) {
    .carousel_container {
        width: 100vw;
        justify-content: center;
    }
    .carousel-container img {
        border-radius: 22px;
        height: auto;
        width: 80%;
    }
    .grid_infos img {
        border-radius: 20px;
        height: auto;
        width: 80%;
    }
    .fotos_imovel {
        width: 100vw;
        height: 30vh;
    }
    .botao_voltar_imovel {
        position: absolute;
        margin-right: 90%;
        margin-bottom: 7%;
    }
    .botao_passar_imovel {
        position: absolute;
        margin-left: 83%;
    }
    /* Referente aos textos */

    .title h2 {
        text-align: center;
        font-size: 25px;
    }
    .descricao_imovel {
        width: 100vw;
        height: 120%;
    }

    .descricao_imovel p {
        font-size: 18px;
    }

    .descricao_imovel ul {
        font-size: 16px;      
    }

    .descricao_imovel li {
        margin-top: 10px;
    }

    .descricao_imovel p1 {
        font-size: 14px;
    }
}

@media screen and (max-width: 320px) {}