footer {
    display: grid;
    overflow:hidden;
    height: 300px;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(255, 255, 255);
    padding-top: 5%; 
}

.footer_esquerda {
    display: flex;
    margin-left: 10%;
    gap: 30px;
}

.logo_footer {
    height:25%
}

.footer_direita {
    display: flex;
    gap: 60px;
    margin-left: 15%;
}

.container_contatos {
    display: grid;
    grid-template-columns: repeat(3, 15%);
    gap: 5%;
}

.logo_contato {
    width: 100%;
}

