.header {
	position: absolute;
	width: 100%;
	z-index: 100;
	color: #045570;
    font-family: Libre Baskerville;
	display: flex;
	align-items: center;
    justify-content: center;
	height: 10%;
	padding: 5%;
	padding-top: 3%;
	cursor: pointer;
}

.header ul {
	display: flex;
	width: 100%;
    align-items: center;
    justify-content: center;
	list-style: none;
	column-gap: 5%;
}

.header li {
    align-items: center;
	font-size: 18px;
}

/* Estilos para a barra de navegação móvel */
.nav-idiom {
	border-radius: 20px;
	position: absolute;
	width: 22%;
	height: 170%;
	background-color: rgb(255, 255, 255);
	flex-direction: column;
	align-items: center;
	margin-left: -20px;
	margin-top: 10px;
	box-shadow: 2px 2px 0px #888888;
}

.nav-idiom ul {
	gap: 20px;
	width: 100%;
	height: 100%;
	list-style: circle;
	padding: 10%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.nav-idiom li {
	height: 100%;
	width: 100%;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: left;
	cursor: pointer;
}

.nav-idiom li a{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: left;
	align-items: center;
}

.img_flag {
	width:20%;
	z-index: 3
}

@media screen and (max-width: 920px) {

}


@media screen and (max-width: 560px) {
	.header {
		height:5%
	}
	.header li {
		font-size: 9px;
	}
}

@media screen and (max-width: 320px) {

}
