header {
	color: #045570;
    font-family: 'Libre Baskerville';
	display: flex;
	align-items: center;
	height: 90px;
	padding: 0 5%;
}

.nav {
    align-items: center;
  }

.nav ul {
    align-items: center;
	list-style: none;
	display: flex;
	gap: 60px;
}

.nav li {
    align-items: center;
	font-size: 23px;
}