.clientes {
    position: relative;
    overflow: hidden;
    height: 140vh; /* Altura inicial */
    align-content: center;
}

.background_clientes {
    position: absolute;
    background-image: url(/images/clientes/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    background-position: center;
    height: 100%; /* Altura de 100% para cobrir todo o div */
    width: 100%;
    z-index: 0;
}

.titulo_clientes {
    margin-top: 10%;
    margin-left: 10%
}

.titulo_depoimentos {
    margin-left: 10%
}
  

.rectangle_clients {
    top: 50%;
    left: 50%;
    transform: translate(-43%, -50%);
    border-radius: 40px;
    width: 70%; 
    height: 130px; 
    background-color: white; 
    border: 2px solid white;
    position: absolute;
    justify-content: center;
    align-content: center;
    z-index: 1;
    overflow: hidden;
    padding: 3%;
    padding-left: 8%;
}

.rectangle_clients p1 {
    font-family: Inter;
    text-align: justify;
    font-size: 18px;
    color: #045570;
    z-index: 3;
}
