.clientes {
    position: relative;
    overflow: hidden;
    height: 910px; /* Altura inicial */
    align-content: center;
}

.background_clientes {
    position: absolute;
    background-image: url(/images/clientes/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    background-position: center;
    height: 100%; /* Altura de 100% para cobrir todo o div */
    width: 100%;
    z-index: 0;
    top:0;
}

.titulo_clientes {
    top: 0;
    margin-top: 150px;
    margin-left: 10%;
    width: 40%;
}

.titulo_depoimentos {
    margin-left: 10%
}

@media screen and (max-width: 920px) {
    .clientes {
        height: 1298px;
    }
    .background_clientes {
        height: 100%;
        width: 190%;
    }
}
  
@media screen and (max-width: 560px) {
    
}

@media screen and (max-width: 320px) {

}