.container_frase_disney{
    display: flex;
    width: 100%;
    height: 110px;
    justify-content: center;
    background-color: #D4A23F;;
}

.frase_disney {
    justify-content: center;
    font-size: 24px;
    text-align: justify;
    font-weight: bold;
    align-self: "center";
    font-family: Libre Baskerville;
    color: #045570;
    z-index: 3;
}

.container_botao_home{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    opacity: 0.8;
}

.botao_home {
    display: flex;
    width: 300px;
    justify-content: center;
    font-size: 24px;
    align-self: "center";
    font-family: Libre Baskerville;
    background-color: #045570;
    border-radius: 15px;
    color: #E1DFDB;
    transition: transform 1s;
    margin-top: 25%;
    padding: 7% 1%;
}

.botao_home:hover {
    transform: scale(1.05);
}

.rectangle {
    border-radius: 15px;
    width: 225px; 
    height: 330px; 
    background-color: white; 
    border: 2px solid white;
    margin-top: 200px;
}