.secao1 {
    position: relative;
    overflow: hidden;
    height: 135vh;
    /* Initial height */
    text-align: center;
    display: flex;
    justify-content: center;
}

.Background_inicio {
    position: absolute;
    top: -5%;
    background-image: url(/images/Home/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
    height: 115%;
    width: 100%;
    z-index: 1;
}

.container_logo {
    z-index: 2;
}

.img_logo {
    width: 90%;
    /* height: 35%; */
    margin-top: 35%;
}

.container_botao_home {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    opacity: 0.8;
}

.botao_home {
    display: flex;
    width: 300px;
    justify-content: center;
    font-size: 24px;
    font-family: Libre Baskerville;
    background-color: #045570;
    border-radius: 15px;
    color: #E1DFDB;
    transition: transform 1s;
    margin-top: 25%;
    padding: 7% 1%;
}

.botao_home:hover {
    transform: scale(1.05);
}

.secao2 {
    position: relative;
    overflow: hidden;
    height: 100vh;
    /* Initial height */
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
}

.Background_porque_trab {
    position: absolute;
    background-image: url(/images/Home/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    background-position: center;
    height: 140%;
    /* 100% height to cover the entire div */
    width: 100%;
    z-index: 1;
}

.grid_porque_trab {
    align-items: center;
    align-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    z-index: 2;
}

.container_img_porque {
    text-align: center;
    justify-content: center;
    align-content: center;
    z-index: 2;
}

.img_porque {
    width: 60%;
    border-radius: 15px;
}

.container_texto_porque {
    text-align: center;
    justify-content: center;
    align-content: center;
    z-index: 2;
    padding-right: 10%;
}

.grid_valores {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15%;
    margin-top: 30px;
}

.secao3 {
    position: relative;
    overflow: hidden;
    height: 950px;
    /* text-align: center; */
}

.background_nossa_historia {
    position: absolute;
    background-image: url(/images/Home/5.jpg);
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 170%;
    width: 100%;
    z-index: 1;
}

.titulo_nossa_historia {
    z-index: 3;
    width: 60%;
    margin-top: 5%;
    margin-left: 8%;
}

.container_rect_sobre {
    display: flex;
    width: 100%;
    height:60%;
    justify-content: center;
    align-items: center;
    z-index: 2;
    gap: 5%;
}

.rectangle {
    text-align: center;
    z-index: 2;
    border-radius: 15px;
    width: 20%;
    height: 90%;
    background-color: white;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    padding: 2% 0;
    z-index: 3;
}

.rectangle h1 {
    font-family: Libre Baskerville;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #045570;
    z-index: 3;
}

.rectangle p1 {
    font-family: Inter;
    text-align: justify;
    text-justify: auto;
    font-size: 18px;
    color: #045570;
    margin-left: 8%;
    margin-top: 5%;
    margin-right: 8%;
    z-index: 3;
}

.img-icon {
    align-self: center;
    width: 25%;
    margin-top: 6%;
}

.secao4 {
    position: relative;
    overflow: hidden;
    height: 110vh;
}

.Background_concierge {
    position: absolute;
    background-image: url(/images/Home/background3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    background-position: center;
    height: 100%;
    width: 100%;
    z-index:1;
}

.grid_concierge {
    display:grid;
    grid-template-columns:repeat(2,1fr);
    height: 70%;
}

.texto_concierge {
    margin-top: 5%;
    margin-left: 8%;
}

.titulo_concierge {
    margin-top: 4%;
    margin-left: 8%;
    margin-right: 8%;
}

.topicos_concierge {
    margin-top: -3%;
    margin-left: 8%;
    margin-right: 8%;
}

.container_img_concierge {
    display: flex;
    justify-content: center;
    align-items: center ;
    text-align: center;
    z-index: 3;
}

.img_concierge {
    width: 45%;
    border-radius: 40px;
    border: 5px solid #d4a23f90;
}

.container_frase_disney {
    display: flex;
    position: absolute;
    justify-items: center;
    z-index: 3;
    margin-top: 5%;
    width: 100%;
    height: 14%;
    background-color: #d4a23f90;
}

.frase_disney {
    width: 100%;
    justify-content: center;
    font-size: 24px;
    text-align: justify;
    font-weight: bold;
    align-self: center;
    font-family: Libre Baskerville;
    color: #045570;
    z-index: 3;
}

.nossa_historia_background {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6%;
    padding-bottom: 4%;
    background-color: rgb(255, 255, 255, 0.8);
    color: #045570;
    padding: 10%;
    z-index: 5;
}

.nossa_historia {
    height: 400px;
    width: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding-top: 6%;
    padding-bottom: 4%;
}

.nossa_historia p {
    font-family: Libre Baskerville;
    text-align: center;
    text-justify: auto;
    font-size: 34px;
    color: #045570;
    z-index: 3;
    padding-bottom: 1%;
}

@media screen and (max-width: 920px){
    .secao1 {
        height: 100vh;
    }
    .Background_inicio {
        height: 135%;
        background-size:cover;
        background-position: top;
    }
    .img_logo {
        margin-top: 40%;
        width:90%;
        height:auto; 
    }
    
    .Background_porque_trab {
        height:100%;
    }
    .grid_porque_trab {
        margin-top: 5%;
        grid-template-columns:unset;
        grid-template-rows: repeat(2, 1fr);
    }
    .container_img_porque {
        margin-bottom: 5%;
        align-items: center;
        order:2;
    }
    .img_porque {
        width: 55%;
    }
    .container_texto_porque {
        display: flex;
        align-items: center;
        padding-left: 15%;
    }

    .container_rect_sobre {
        height: 80%;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        gap:5%;
        margin-top: 0%;
        /* padding-left: 10%; */
    }
    .rectangle {
        display: grid;
        grid-template-columns: 20% 80%;
        text-align: left;
        overflow: hidden;
        width: 90%;
        height: 100%;
        padding-left: 2%;
    }
    .img-icon {
        position: flex;
        align-self:center;
        justify-self: center;
        width:90%;
        height: auto;
        margin-top:0%;
        /* margin-left: 2%; */
    }
    .secao4 {
        overflow: hidden;
        height: 140vh;
    }
    .grid_concierge {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 60% 40%;
        gap:5%
    }
    .texto_concierge {
        margin-top: 5%; 
        margin-left: 3%;
        margin-right: 3%;
        height: 1000px;
    }
    .img_concierge {
        height: 100%;
        width: auto;
    }
    .container_frase_disney {
        margin-top: 15%;
        font-size: 10px;
    }   
}

@media screen and (max-width: 560px) {
    .botao_home {
        margin-top: 40%;
    }
    .container_img_porque {
        display: flex;
        align-items: center;
        order:2;
    }
    .img_porque {
        width: 80%;
    }
    .container_texto_porque {
        padding-left: 10%;
    }
    .container_rect_sobre {
        margin-top: 10%;
        height: 80%;
    }
    .secao4 {
        height: 120vh;
    }
    .grid_concierge {
        height: 60%;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 60% 40%;
        gap:5%
    }
    .img_concierge {
        margin-top: 25%;
        height: 70%;
    }
}

@media screen and (max-width: 320px) {
    .secao1 {
        height:60vh
    }
}