.sobre_nos {
    position: relative;
    /* background-color: rgba(255, 220, 100, 0.1); */
    overflow: hidden;
    height: 250vh;
    /* Altura inicial */
    text-align: center;
    justify-content: center;
    align-content: center;
}

.titulo {
    overflow: visible;
    margin-top: 10%;
    height: 120px;
    width: 260px;
    margin-left: 10%;
    background-image: url('/images/sobre_nos/lines.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.texto_quem_somos {
    text-align: center;
    align-content: center;
    width: 50%;
    margin-top: 8%;
    margin-left: 25%;
    margin-right: 25%;
    color: #045570;
    display: flex;
    font-family: Libre Baskerville;
    flex-direction: column;
    gap: 15px;
    padding: 2% 0;
    z-index: 3;
}

.texto_quem_somos h2 {
    font-family: LAto;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    color: #045570;
    z-index: 3;
}

.texto_quem_somos p4 {
    font-family: Lato;
    text-align: center;
    font-size: 22px;
    color: #045570;
    z-index: 3;
    padding-top: 3%;
}

.container_perfils {
    width: 100%;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    margin-top: 100px;
    gap: 70px;
}

.background_sobre_nos {
    position: absolute;
    background-image: url("/images/sobre_nos/background-sobre-nos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    background-position: bottom right;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.rectangle_sobre_nos {
    border-radius: 15px;
    width: 100%;
    height: 370px;
    background-color: rgb(255, 255, 255);
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    align-content: center;
    z-index: 2;
    /* border: 2px solid white; */
}

.perfil_socias {
    width: 400px;
    z-index: 3;
}

.rectangle_sobre_nos p {
    text-indent: 30px;
    font-family: Lato;
    text-align: justify;
    text-justify: auto;
    font-size: 16px;
    color: #045570;
    margin-top: 5%;
    z-index: 3;
}

.rectangle_sobre_nos h1 {
    font-family: Lato;
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    color: #045570;
    z-index: 3;
}

.img_perfil {
    width: 250px;
    border-radius: 40px;
    border: 10px solid white;
}

@media screen and (max-width: 920px) {
    .sobre_nos {
        height: 1690px;
    }
    .titulo {
        margin-top: 15%;
    }
    .texto_quem_somos {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
    .container_perfils {
        gap: 0px;
    }

    .perfil_socias {
        display: flex;
        flex-direction:column;
        width: 100%;
        justify-content: center;
        align-content: center;
        margin-left: 3%;
    }

    .img_perfil {
        width: 200px;
        margin-left: 4%;
        border-radius: 40px;
        border: 10px solid white;
    }

    .rectangle_sobre_nos {
        width: 90%;
    }

    .rectangle_sobre_nos p {
        text-indent: 20px;
        font-size: 12px;
    }

    .rectangle_sobre_nos h1 {
        font-size: 18px;
        margin-top: 5%;
        padding-bottom: 5%;
    }
}
  
@media screen and (max-width: 560px) {
    .titulo {
        width: 50%;
        height: 3%;
    }
    .sobre_nos {
        height: 3175px;
    }
    .texto_quem_somos h2 {
        font-size: 30px;
    }
    
    .texto_quem_somos p4 {
        font-size: 18px;
    }
    .container_perfils {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .perfil_socias {
        margin-top: 5%;
        flex-direction:column;
        width: 100%;
        z-index: 3;
    }
    .img_perfil {
        margin-left: 24%;
    }
    .rectangle_sobre_nos {
        width: 90%;
        height: 370px;
        padding-left: 5%;
        padding-right: 5%;
        margin-left: 4%;
    }
}

@media screen and (max-width: 320px) {

}