/*Base para o CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height:100%;
    font-family: 'Assistant', sans-serif;
}

/* Estilo para todos os links */
a {
    color: inherit;
    text-decoration: none; 
}

/* Responsividade em Tablet e Mobile */
@media screen and (max-width: 920px) {

}

@media screen and (max-width: 560px) {

}

.Start {
    position: relative;
  }
  
  .img-centered {
    max-width: 50%; /* Ajuste conforme necessário para diminuir o tamanho */
    max-height: 50%; /* Ajuste conforme necessário para diminuir o tamanho */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.nav-idiom {
    display: none;
}

.nav-idiom.active {
    display: block;
}